@using System.Globalization;

<div class="card-body">
    <div class="card">
        <div class="card-header">
            <form action="" method="">
                <div class="formback">
                    <div class="caixa01">
                        <a asp-controller="Fornecedor" asp-action="Create" class="btn btn-primary">Adicionar novo produto</a>
                    </div>
                </div>
            </form>
        </div>      
        ﻿<div class="container">
            <div class="flex-row">
                <table class="table table-bordered table-hover table-striped table-sm align-middle" id="produto">
                    <thead>
                        <tr>
                            <th width="2%" align="left">Id</th>
                            <th width="34%" align="center">Fornecedor</th>
                            <th width="23%" align="center">Email</th>
                            <th width="21%" align="center">Telefone</th>
                            <th width="20%" align="center">Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left">1</td>
                            <td align="left">Gidalto goes dos santos</td>
                            <td align="left">gidalto.goes8@gmail.com</td>
                            <td align="center">(98) 9 81526066</td>
                            <td class="text-nowrap d-flex justify-content-center">
                                <button type="button" class="btn btn-sm btn-primary mr-2" data-html="true" data-toggle="tooltip" data-placement="top" title="Edita">
                                    <i class="fas fa-solid fa-pen-to-square"></i>Editar
                                </button>                                
                                <a asp-action="Delete" asp-controller="Fornecedor" type="button" class="btn btn-sm btn-danger mr-2" data-html="true" data-toggle="tooltip" data-placement="top" title="Excluir">
                                    <i class="fa-solid fa-pen-to-square"></i>Excluir
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td align="left">1</td>
                            <td align="left">Gidalto goes dos santos</td>
                            <td align="center">gidalto.goes8@gmail.com</td>
                            <td align="center">(98) 9 81526066</td>
                            <td class="text-nowrap d-flex justify-content-center">
                                <button type="button" class="btn btn-sm btn-primary mr-2" data-html="true" data-toggle="tooltip" data-placement="top" title="Edita">
                                    <i class="fas fa-solid fa-pen-to-square"></i>Editar
                                </button>
                                <button type="button" class="btn btn-sm btn-danger mr-2" data-html="true" data-toggle="tooltip" data-placement="top" title="Excluir">
                                    <i class="fa-solid fa-pen-to-square"></i>Excluir
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td align="left">1</td>
                            <td align="left">Gidalto goes dos santos</td>
                            <td align="center">gidalto.goes8@gmail.com</td>
                            <td align="center">(98) 9 81526066</td>
                            <td class="text-nowrap d-flex justify-content-center">
                                <button type="button" class="btn btn-sm btn-primary mr-2" data-html="true" data-toggle="tooltip" data-placement="top" title="Edita">
                                    <i class="fas fa-solid fa-pen-to-square"></i>Editar
                                </button>
                                <button type="button" class="btn btn-sm btn-danger mr-2" data-html="true" data-toggle="tooltip" data-placement="top" title="Excluir">
                                    <i class="fa-solid fa-pen-to-square"></i>Excluir
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td align="left">1</td>
                            <td align="left">Gidalto goes dos santos</td>
                            <td align="center">gidalto.goes8@gmail.com</td>
                            <td align="center">(98) 9 81526066</td>
                            <td class="text-nowrap d-flex justify-content-center">
                                <button type="button" class="btn btn-sm btn-primary mr-2" data-html="true" data-toggle="tooltip" data-placement="top" title="Edita">
                                    <i class="fas fa-solid fa-pen-to-square"></i>Editar
                                </button>
                                <button type="button" class="btn btn-sm btn-danger mr-2" data-html="true" data-toggle="tooltip" data-placement="top" title="Excluir">
                                    <i class="fa-solid fa-pen-to-square"></i>Excluir
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/DataTables/datatables.js"></script>
    <script>
        $(document).ready(function () {
            $('#produto').DataTable({
                responsive: false,
                ordering: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json',
                },
                "lengthChange": false,
            });
        });
    </script>
}