<div class="card-body">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title text-dark">Cadastro de cliente</h3>
        </div>

        ﻿<div class="container">
            <div class="flex-row">
                <div class="base-home">
                    <div class="base-form">
                        <h3>Preencha os campos do cadastro abaixo</h3>
                        <form action="" method="post">
                            <div class="caixa100">
                                <div class="marcacao">
                                    <h5>Dados pessoais</h5>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <label for="exampleFormControlInput1" class="form-label">Nome <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" aria-label="Nome" placeholder="Digite o nome do cliente">
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <label for="exampleFormControlInput2" class="form-label">Email <span class="text-danger">*</span></label>
                                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu email">
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <label for="exampleFormControlInput1" class="form-label">CEP  <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" aria-label="CEP" placeholder="Digite seu cep">
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <label for="exampleFormControlInput1" class="form-label">Endereço <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" aria-label="Endereço" placeholder="Digite seu endereço">
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <label for="exampleFormControlInput1" class="form-label">Bairro <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" aria-label="Bairro" placeholder="Digite seu bairro">
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <label for="exampleFormControlInput1" class="form-label">cidade <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" aria-label="cidade" placeholder="Digite sua cidade">
                                        </div>                                       
                                        <div class="col-sm-12 col-md-4">
                                            <label for="exampleFormControlInput1" class="form-label">UF  <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" aria-label="UF" placeholder="Digite seu estado">
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <label for="exampleFormControlInput1" class="form-label">Celular  <span class="text-danger">*</span></label>
                                            <input id="telefone" type="text" class="form-control" aria-label="Celular" placeholder="Digite seu celular">
                                        </div>
                                    </div>
                                    <input type="hidden" name="id_cliente" value="" />

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger me-md-2" data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-success">Concluir cadastro</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>