<div class="card-body">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title text-dark">Vendas</h3>
        </div>

        ﻿ ﻿<div class="container">
            <div class="flex-row">
                <div class="base-home">
                    <div class="base-form">
                        <form action="" method="post">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-header">
                                                    <h5 class="card-title text-center text-black">Selecione um Cliente</h5>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-sm-12 col-md-12">
                                                        <label for="exampleFormControlInput1" class="form-label">Nome do cliente<span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" aria-label="Nome" placeholder="Selecione um cliente">
                                                    </div>
                                                </div>
                                                <div class="card mt-2">
                                                    <div class="col-sm-12 col-md-12">
                                                        <p><b>Código:</b> 4</p>
                                                        <p><b>Nome:</b> Manoel Jailton Nascimento</p>
                                                        <p><b>Endereço:</b> Rua 49, 30</p>
                                                        <p><b>Cidade:</b> São luís</p>
                                                        <p><b>Estado:</b> São luís</p>
                                                        <p><b>Bairro:</b> 1212</p>
                                                        <p><b>Email:</b> mjailton@gmail.com</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-header">
                                                    <h5 class="card-title text-center text-black">Dados da venda</h5>
                                                </div>
                                                <div class="form-row">
                                                    <div class="col-sm-12 col-md-12">
                                                        <label for="exampleFormControlInput1" class="form-label">Cliente <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" aria-label="Nome" placeholder="Cliente" readonly>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <label for="exampleFormControlInput1" class="form-label">Código <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" aria-label="código" placeholder="Código" readonly>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <label for="exampleFormControlInput1" class="form-label">Hora <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" aria-label="Hora" placeholder="@DateTime.Now.ToString("T")" readonly>
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <label for="exampleFormControlInput1" class="form-label">Total <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" aria-label="Total" placeholder="Informe o total">
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        <label for="exampleFormControlInput1" class="form-label">Data <span class="text-danger">*</span></label>
                                                        <input type="text" class="form-control" aria-label="Data" placeholder="@DateTime.Now.ToString("d")" readonly>
                                                    </div>

                                                    <div class="col-sm-12 col-md-4 mt-3">
                                                        <button type="submit" class="btn btn-primary btn-sm-2 my-auto" id="" data-bs-dismiss="modal">
                                                            <em class="" aria-hidden="true"></em> Iniciar venda
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card">
                            <h3 class="card-title ml-3 mt-2">Itens da venda</h3>
                            <div class="card-header">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-2">
                                            <label for="exampleFormControlInput1" class="form-label">Informe o Código <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" aria-label="Código" placeholder="Código">
                                        </div>
                                        <div class="col-sm-12 col-md-4">
                                            <label for="exampleFormControlInput1" class="form-label">Informe o produto <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" aria-label="Produto" placeholder="Produto">
                                        </div>
                                        <div class="col-sm-12 col-md-2">
                                            <label for="exampleFormControlInput1" class="form-label">Informe a Qtde <span class="text-danger">*</span></label>
                                            <input type="text" class="form-control" aria-label="Qtde" placeholder="Qtde">
                                        </div>
                                        <div class="col-sm-12 col-md-2 my-auto" style="height: 10px;">
                                            <button type="submit" class="btn btn-success btn-sm-2 my-auto" id="">
                                                <em class="fas fa-check" aria-hidden="true"></em> Salvar
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card-body mt-4">
                                        <div class="card">
                                            <table class="table table-bordered table-hover table-striped table-sm align-middle" id="tabela-de-venda">
                                                <thead>
                                                    <tr>
                                                        <th>Id</th>
                                                        <th>Data</th>
                                                        <th>Produto</th>
                                                        <th>Quantidade</th>
                                                        <th>Excluir</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>29/09/2016</td>
                                                        <td>Nome do produto aqui</td>
                                                        <td>1</td>
                                                        <td class="text-nowrap d-flex justify-content-center">
                                                            <button type="button" class="btn btn-sm btn-danger mr-2" data-html="true" data-toggle="tooltip" data-placement="top" title="Excluir">
                                                                <i class="fa-solid fa-pen-to-square"></i>Excluir
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>29/09/2016</td>
                                                        <td>Nome do produto aqui</td>
                                                        <td>1</td>
                                                        <td class="text-nowrap d-flex justify-content-center">
                                                            <button type="button" class="btn btn-sm btn-danger mr-2" data-html="true" data-toggle="tooltip" data-placement="top" title="Excluir">
                                                                <i class="fa-solid fa-pen-to-square"></i>Excluir
                                                            </button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>29/09/2016</td>
                                                        <td>Nome do produto aqui</td>
                                                        <td>1</td>
                                                        <td class="text-nowrap d-flex justify-content-center">
                                                            <button type="button" class="btn btn-sm btn-danger mr-2" data-html="true" data-toggle="tooltip" data-placement="top" title="Excluir">
                                                                <i class="fa-solid fa-pen-to-square"></i>Excluir
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-warning btn-sm-2 my-auto" id="" data-bs-dismiss="modal">
                                        <em class="fas fa-broom" aria-hidden="true"></em> Limpar itens
                                    </button>
                                    <button type="submit" class="btn btn-success btn-sm-2 my-auto" id="">
                                        <em class="fas fa-check" aria-hidden="true"></em> Finalizar venda
                                    </button>
                                    <button type="submit" class="btn btn-danger btn-sm-2 my-auto" id="">
                                        <em class="fas fa-times" aria-hidden="true"></em> Cancelar venda
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet">
    }

@section Scripts {
    <script src="~/lib/DataTables/datatables.js"></script>
    <script>
        $(document).ready(function () {
            $('#tabela-de-venda').DataTable({
                responsive: false,
                ordering: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json',
                },
                "lengthChange": false,
            });
        });
    </script>
    }
