<div class="card-body">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title text-dark">Vendas</h3>
        </div>

        ﻿ ﻿<div class="container">
            <div class="flex-row">
                <div class="base-home">
                    <div class="base-form">
                        <form action="" method="post">

                            <div class="card">
                                <h5 class="card-title ml-3 mt-2">SELECIONE UM CLIENTE</h5>
                                <div class="card-header">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <label for="exampleFormControlInput1" class="form-label">Nome <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" aria-label="Nome" placeholder="Digite o nome do cliente">
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <label for="exampleFormControlInput2" class="form-label">Email <span class="text-danger">*</span></label>
                                                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu email">
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <label for="exampleFormControlInput1" class="form-label">Endereço <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" aria-label="Endereço" placeholder="Digite seu endereço">
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <label for="exampleFormControlInput1" class="form-label">Bairro <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" aria-label="Bairro" placeholder="Digite seu bairro">
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <label for="exampleFormControlInput1" class="form-label">cidade <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" aria-label="cidade" placeholder="Digite sua cidade">
                                            </div>

                                            <div class="col-sm-12 col-md-4">
                                                <label for="exampleFormControlInput1" class="form-label">CEP  <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" aria-label="CEP" placeholder="Digite seu cep">
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <label for="exampleFormControlInput1" class="form-label">UF  <span class="text-danger">*</span></label>
                                                <input type="text" class="form-control" aria-label="UF" placeholder="Digite seu estado">
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <label for="exampleFormControlInput1" class="form-label">Celular  <span class="text-danger">*</span></label>
                                                <input id="telefone" type="text" class="form-control" aria-label="Celular" placeholder="Digite seu celular">
                                            </div>
                                        </div>
                                        <input type="hidden" name="id_cliente" value="" />

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger me-md-2" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-success">Concluir cadastro</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="card">
                    <h3 class="card-title ml-3 mt-2">Dados da venda</h3>
                    <div class="card-header">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <label for="exampleFormControlInput1" class="form-label">Cliente <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" aria-label="Nome" placeholder="Digite o nome do cliente">
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <label for="exampleFormControlInput1" class="form-label">Código <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" aria-label="código" placeholder="Digite o código">
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="exampleFormControlInput1" class="form-label">Hora <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" aria-label="Hora" placeholder="Digite a hora">
                                </div>

                                <div class="col-sm-12 col-md-4">
                                    <label for="exampleFormControlInput1" class="form-label">Total <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" aria-label="Total" placeholder="Informe o total">
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <label for="exampleFormControlInput1" class="form-label">Data <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" aria-label="Data" placeholder="Digite a data">
                                </div>

                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-primary" data-bs-dismiss="modal" value="Iniciar venda">
                                </div>
                            </div>
                            <input type="hidden" name="id_cliente" value="" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <h3 class="card-title ml-3 mt-2">Itens da venda</h3>
                <div class="card-header">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-2">
                                <label for="exampleFormControlInput1" class="form-label">Informe o Código <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" aria-label="Código" placeholder="Código">
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <label for="exampleFormControlInput1" class="form-label">Informe o produto <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" aria-label="Produto" placeholder="Produto">
                            </div>
                            <div class="col-sm-12 col-md-2">
                                <label for="exampleFormControlInput1" class="form-label">Informe a Qtde <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" aria-label="Qtde" placeholder="Qtde">
                            </div>                                                                   
                            <div class="col-sm-12 col-md-2 mt-4">
                                <input type="submit" class="btn btn-primary btn-sm-2 my-auto" ria-label="Salvar" value="Salvar">
                            </div>
                        </div>

                        <div class="">
                            <table class="table table-bordered table-hover table-striped table-sm align-middle" id="tabela-de-venda">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Data</th>
                                        <th>Produto</th>
                                        <th>Quantidade</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>29/09/2016</td>
                                        <td>Nome do produto aqui</td>
                                        <td>1</td>
                                        <td class="text-nowrap d-flex justify-content-center">
                                            <a href="" class="btn btn-sm btn-danger mr-2" data-html="true" data-toggle="tooltip" data-placement="top" title="Essa ação vai excluir">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>                                  
                                     <tr>
                                        <td>1</td>
                                        <td>29/09/2016</td>
                                        <td>Nome do produto aqui</td>
                                        <td>1</td>
                                        <td class="text-nowrap d-flex justify-content-center">
                                            <a href="" class="btn btn-sm btn-danger mr-2" data-html="true" data-toggle="tooltip" data-placement="top" title="Essa ação vai excluir">
                                                <i class="fas fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>29/09/2016</td>
                                        <td>Nome do produto aqui</td>
                                        <td>1</td>
                                        <td class="text-nowrap d-flex justify-content-center">
                                            <a href="" class="btn btn-sm btn-danger mr-2" data-html="true" data-toggle="tooltip" data-placement="top" title="Essa ação vai excluir">
                                                <i class="fas fa-times"></i>
                                            </a>                                          
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning me-md-2" data-bs-dismiss="modal">Limpar itens</button>
                            <button type="button" class="btn btn-success">Finalizar venda</button>
                            <button type="button" class="btn btn-danger">cancelar venda</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="~/lib/DataTables/datatables.css" rel="stylesheet">
}

@section Scripts {
    <script src="~/lib/DataTables/datatables.js"></script>
    <script>
        $(document).ready(function () {
            $('#tabela-de-venda').DataTable({
                responsive: false,
                ordering: true,
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.6/i18n/pt-BR.json',
                },
                "lengthChange": false,
            });
        });
    </script>
}
