@{
    ViewData["Title"] = "Home Page";
}
<div class="card-body">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h3>Relatórios do estoque atualizado em @DateTime.Now</h3>
                        <div class="card-deck">
                            <div class="card small-box m-0 ml-2">
                                <div class="card-body bg-warning">
                                    <h5 class="card-title text-left">0</h5>
                                    <p class="card-text">Produtos cadastrados</p>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-light">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>                            
                            <div class="card small-box m-0 ml-2">
                                <div class="card-body bg-warning">
                                    <h5 class="card-title text-left">0</h5>
                                    <p class="card-text">Valor atual do estoque</p>
                                    <div class="icon">
                                        <i class="far fa-chart-bar"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-light">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                            <div class="card small-box m-0 ml-2">
                                <div class="card-body bg-warning">
                                    <h5 class="card-title text-left">0</h5>
                                    <p class="card-text">Preço médio</p>
                                    <div class="icon">
                                        <i class="far fa-chart-bar"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-light">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                            <div class="card small-box m-0 ml-2">
                                <div class="card-body bg-warning">
                                    <h5 class="card-title text-left">0</h5>
                                    <p class="card-text">Cliente</p>
                                    <div class="icon">
                                        <i class="ion ion-person-add"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-light">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>                                                      
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h3>Atenção problemas detectados</h3>
                        <div class="card-deck">                          
                            <div class="card small-box m-0 ml-2">
                                <div class="card-body bg-info">
                                    <h5 class="card-title text-left">0</h5>
                                    <p class="card-text">Intes com estoque alto</p>
                                    <div class="icon">
                                        <i class="ion ion-android-arrow-down"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-light">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                            <div class="card small-box m-0 ml-2">
                                <div class="card-body bg-info">
                                    <h5 class="card-title text-left">0</h5>
                                    <p class="card-text">Produto sem saída</p>
                                    <div class="icon">
                                        <i class="ion ion-android-arrow-down"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-light">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>
                          
                            <div class="card small-box m-0 ml-2">
                                <div class="card-body bg-info">
                                    <h5 class="card-title text-left">0</h5>
                                    <p class="card-text">Estoque baixo</p>
                                    <div class="icon">
                                        <i class="ion ion-android-arrow-down"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-light">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>

                            <div class="card small-box m-0 ml-2">
                                <div class="card-body bg-info">
                                    <h5 class="card-title text-left">0</h5>
                                    <p class="card-text">Itens fora da validade</p>
                                    <div class="icon">
                                        <i class="ion ion-android-arrow-down"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-light">
                                    <small class="text-muted">Last updated 3 mins ago</small>
                                </div>
                            </div>                                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
