<footer class="main-footer py-1">
    <ul class="nav justify-content-center border-bottom pb-2 mb-2">
        <li class="nav-item"><a class="nav-link px-2 text-body-secondary" href="#" >Aviso de Privacidade</a></li>
        <li class="nav-item"><a class="nav-link px-2 text-body-secondary" href="#" >Política de Privacidade</a></li>
    </ul>
    <p class="text-center text-body-secondary fs-6">Copyright © 2023 Todos os Direitos Reservados Carlos Eduardo Carvalho do Viso</p>
</footer>
