<li class="nav-item my-2">
    <a asp-controller="Home" asp-action="Index" class="nav-link">
        <i class="nav-icon fas fa-home"></i>
        <p>Início</p>
    </a>
</li>

<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-users nav-icon"></i>
            <p>
                Cadastro
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item">
                <a  href="" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Produto</p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Cliente" asp-action="Index" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Cliente</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/tables/jsgrid.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Fornecedor</p>
                </a>
            </li>
        </ul>
    </li>

    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-table"></i>
            <p>
                Estoque
                <i class="fas fa-angle-left right"></i>
            </p>
        </a>
        <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item">
                <a href="pages/tables/simple.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Entrada de Produto</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/tables/data.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Saída de Produtos</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="pages/tables/jsgrid.html" class="nav-link">
                    <i class="far fa-circle nav-icon"></i>
                    <p>Movimentação Geral</p>
                </a>
            </li>
        </ul>
    </li>
</ul>

<li class="nav-item my-2">
    <a href="venda/vendas" class="nav-link">
        <i class="far fa-calendar-alt nav-icon"></i>
        <p>Venda</p>
    </a>
</li>
