@*@model ErrorViewModel*@
@{
    ViewData["Title"] = "Erro na solicitação.";
}

<br />
<br />
<div class="row">
    <div class="offset-lg-2 col-lg-8">
        <div class="card-hover-shadow-2x p-2 card">
            <div class="card-header text-center p-3">
                <h1 class="text-danger text-mobile">Ops algo deu errado.</h1>
            </div>
            <div class="card-body">
                <h2 class="text-danger text-mobile">Ocorreu um erro ao processar sua solicitação.</h2>
                <h4 class="text-mobile">
                    Clique em <strong>reportar</strong> para nos informar o problema ou em <strong>voltar</strong> para sair dessa página.
                </h4>              
            </div>
            <div class="d-block text-center card-footer">
                <a asp-action="" asp-controller="" class="btn btn-primary btn-lg" style="font-size: 1.25rem;">
                    <em class="fa-w-6 mdi mdi-arrow-left ml-2"></em>
                    VOLTAR
                </a>
                <a asp-action="" asp-controller="" class="btn btn-danger btn-lg" style="font-size: 1.25rem;">
                    <em class="fa-w-6 mdi mdi-logout ml-2"></em>
                    SAIR
                </a>              
            </div>
        </div>
    </div>
</div>
